body {
  background-color: rgb(255, 250, 205);
  color: #000000;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: column;
}

body.darkMode {
    background-color: rgb(43, 41, 27);
}

.container_ {
  display: flex;
}

.lesson {
  flex-grow: 3;
  padding: 0px;
}

.link_button {
  background: #ffea76;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 32px;
  margin-top: 12px;
  padding: 8px 40px;
  text-align: center;
}

.join {
  background: #0e72ed;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  margin-top: 12px;
  padding: 8px 40px;
  text-align: center;
}

* {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.box {
  padding: 11px;
}

/* .toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.lesson_time_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson_time {
  font-weight: 700;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

.top {
  display: flex;
  flex: top;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-align: center;
}

.bottom {
  display: flex;
  flex: bottom;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  text-align: center;
}

.later {
  background-color: #ffbf76;
}

.now {
  background-color: #b8ff76;
}

table.darkMode .later {
  background-color: #955711;
}

table.darkMode .now {
  background-color: #418700;
}

.no_margin {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

.darkMode {
  color: #ffea76;
  border-color: #0e72ed;
}

.sun{
  background-image: url(sun.png);
  background-size: 32px;
  height: 32px;
  width: 32px;
  margin: 5px 5px 5px 5px;
}

.moon{
  background-image: url(moon.png);
}

#theme_button{
  display: flex;
  align-self: flex-end;
}